<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <!-- CSS file will be accessed from the current working dir. I guess -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    
    <body>
        <script>
        
        let text = '';
        let dates = <%- JSON.stringify(dates) %>;

        for( let i = 0; i < dates.length; i++ ) {
            let start_date = dates[i].start_date;
            let end_date = dates[i].end_date;
            let assessmentdate = dates[i].assessment_date;

            text += `<div id="receipt_block" style="border: 1px solid black">
                    <h3>RENT RECEIPT</h3>
                    <p>Date: ${ assessmentdate }</p>
                
                    <p>Received sum of <b>Rs <%= amount %></b> from <b><%= tenant %></b> towards the rent of property located at 
                    <b><%= address %></b> for the period from <b>${ start_date }</b> 
                    to <b>${ end_date }</b>.</p> 
                    <br>
                    <p><b><%= owner %></b><br>
                    (Landlord)</p>
                </div>`
        }

        document.write(text);

        </script>
    </body>
</html>